:root {
  --clr-primary-soft-red: hsl(7, 99%, 70%);
  --clr-primary-yellow: hsl(51, 100%, 49%);
  --clr-primary-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-primary-dark-blue: hsl(198, 62%, 26%);
  --clr-primary-moderate-cyan: hsl(168, 55%, 61%);
  --clr-neutral-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-primary-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-primary-dark-grayish-blue: hsl(232, 10%, 55%);
  --clr-primary-grayish-blue: hsl(210, 4%, 67%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --font-size: 18px;
  --font-family-barlow: "Barlow", sans-serif;
  --font-family-fraunces: "Fraunces", serif;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}
